<div class="panel panel-default">
  <h2>Anmelden</h2>
  <form #form="ngForm" (ngSubmit)="login(form.value)">

    <div class="form-group">
      <label for="email" class="control-label col-xs-1">Email</label>
      <div class="col-xs-3"><input type="email" name="email" ngModel [(ngModel)]="email" class="form-control"></div>
    </div>
    <div class="form-group">
      <label for="password" class="control-label col-xs-1">Passwort</label>
      <div class="col-xs-3"><input type="password" name="password" ngModel [(ngModel)]="password" class="form-control"></div>
    </div>

    <button type="submit" class="btn btn-default">Anmelden</button>
    <br />
    <p>&nbsp;</p>
    <span>{{message}}</span>
  </form>
  <a [routerLink]="['/registerMember']">Als neuer Benutzer registrieren</a>
</div>
