<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.0.0" targetFramework="net452" />
  <package id="JetBrains.dotMemoryUnit" version="2.3.20160517.113140" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric" version="5.6.210" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Actors" version="2.6.210" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Data" version="2.6.210" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.FabricTransport.Internal" version="2.6.210" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Services" version="2.6.210" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Services.Remoting" version="2.6.210" targetFramework="net452" />
  <package id="Moq" version="4.5.30" targetFramework="net452" />
  <package id="MSTest.TestAdapter" version="1.1.11" targetFramework="net452" />
  <package id="MSTest.TestFramework" version="1.1.11" targetFramework="net452" />
  <package id="ServiceFabric.Mocks" version="2.1.0" targetFramework="net452" />
</packages>