/* You can add global styles to this file, and also import other style files */

#menubar{
  background:rgb(0,92,169);
}
#menubar > a {
  color:white
}

#menubar a:link { color:white }
#menubar a:visited { color:white }
#menubar a:hover { color:black }

.bitlogo {
padding-top: 20px;
padding-right:20px;
}

.jumbatron {
  padding-left: 10px;
}

.titlebar {
  background:rgb(138, 182, 214);
}

.panel {
  padding-left: 10px;
}

.bitfooter {
 padding: 10px;
 background:rgb(0,92,169);
 color:white;
}

.bitfooter a:link { color:white }
.bitfooter a:visited { color:white }
.bitfooter a:hover { color:black }

.overlay1 {
margin: auto;
position: fixed;
top: 80px; left: 5px;
bottom: 5px; right: 5px;
background-color: #000;
color: #FFF;
z-index:555;
}

.photofullsize {
  position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.commentfullsize {
   margin: 10px;
   width: 95%;
   min-height:100px;
   max-height: 200px;
   height: 50%;
}


.overlaywhite {
margin: auto;
position: fixed;
top: 80px; left: 5px;
bottom: 5px; right: 5px;
background-color:rgb(0,92,169);
color: #000;
z-index:455;
}
