<div class="panel panel-default">
  <h2>Benutzer auswählen</h2>
  <form #form="ngForm" (ngSubmit)="loadThumbnails()" class="form-horizontal">
    <div class="form-group">
      <label for="email" class="control-label col-xs-1">Email</label>
      <div class="col-xs-3">
        <input type="text" name="email" ngModel [(ngModel)]="email" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-xs-1">&nbsp;</label>
      <div class="col-xs-3">
        <button type="button" class="btn btn-default" (click)="loadThumbnails()">Bilder anzeigen  </button>
      </div>
    </div>
  </form>
</div>

<div class="panel panel-default">
  <div [hidden]='photos.length == 0'>
    <div>Anzahl Bilder von {{email}} : {{photos.length}}</div>

    <div class="row">
      <div class="col-sm-4 col-md-3" *ngFor="let photo of photos">


        <pac-photo-detail [photo]='photo'></pac-photo-detail>

      </div>
    </div>
  </div>
</div>>
