<div class="ui two column doubling stackable grid container">
  <div class="column">
<h1>
{{title}}
</h1>
</div>
<div class="column">
  <a href="http://www.bridging-it.de/">
 <img src="assets/bitlogo.gif" width="200px"/>
 </a>
</div>
</div>
<div class="ui input">

  <div class="ui two column doubling stackable grid container">
  <div class="column">
   <form #form="ngForm" (ngSubmit)="login(form.value)">
  Email: <input type="text" name="email" ngModel [(ngModel)]="email" >
  <button type="submit" class="ui primary button">Anmelden</button>
  <br/>
  <p>&nbsp;</p>
  <span>{{message}}</span>
  </form>
  </div>
  <div class="column">
    <pac-register-member></pac-register-member>
    </div>

</div>
</div>


<div [hidden] = 'notMember'>

<h3>Willkommen
  {{firstname}}
  {{surname}} </h3>

<pac-upload-photo-component [email]="email" (imageUploaded)='imageUploaded'></pac-upload-photo-component>
<p> &nbsp;</p>
<hr/>

<pac-show-photos-component [email]="email"></pac-show-photos-component>



</div>

<footer><a href="http://www.bridging-it.de/content/impressum.html">Impressum</a></footer>
