<div class="jumbatron" style="background:white">
  <div class="row">
     <div class="col-xs-10">
       <h1> Microservices für .Net Entwickler:<br>{{title}}</h1>
     </div>
     <div class="col-xs-2 ">
       <a href="http://www.bridging-it.de/" class="pull-right">
        <img src="assets/bitlogo.gif" width="200px"/>
      </a>
     </div>
   </div>
</div>

<div style="background:white">
<ul class="nav nav-pills">
  <li role="presentation" ><a [routerLink]="['/gallery']" *ngIf="userservice.user.notMember == false">Gallerie</a></li>
  <li role="presentation" ><a [routerLink]="['/upload']" *ngIf="userservice.user.notMember == false">Bild hochladen</a></li>
  <li role="presentation"><a [routerLink]="['/']" *ngIf="userservice.user.notMember == true">Login</a></li>
  <li role="presentation"><a [routerLink]="['/']" *ngIf="userservice.user.notMember == false">Logout</a></li>
  <li role="presentation"><a [routerLink]="['/registerMember']">Registrieren</a></li>
</ul>
</div>

<div *ngIf="userservice.user.notMember == false">
  Willkommen {{userservice.user.firstname}} {{userservice.user.surname }}
</div>

<router-outlet></router-outlet>

<div [hidden] = 'notMember'>

<h3>Willkommen
  {{firstname}}
  {{surname}} </h3>

  <div class="ui divider">
        Upload
  </div>



</div>

<footer><a href="http://www.bridging-it.de/content/impressum.html">Impressum</a></footer>
