<div class="panel panel-default">
<form #form="ngForm" class="form-horizontal" >
      <h3>Upload Image</h3>

   <div class="form-group">
    <label for="filetitle" class="control-label col-xs-1">Titel</label>
     <div class="col-xs-3">
      <input type="text" name="filetitle" ngModel [(ngModel)]="filetitle" class="form-control" >
      </div>
    </div>
    <div class="form-group">
    <label  class="control-label col-xs-1">Datei</label>
     <div class="col-xs-3">
      <input type="file" (change)="fileChangeEvent($event)" placeholder="Bild auswählen..."  class="form-control btn"/>
      </div>
    </div>


  <div class="form-group">
    <label  class="control-label col-xs-1">&nbsp;</label>
     <div class="col-xs-3">
      <button type="button" (click)="upload()" class="btn btn-default">Bild hinzufügen</button>
      </div>
    </div>

     <div class="form-group">
    <label  class="control-label col-xs-1">&nbsp;</label>
     <div class="col-xs-3">
{{message}}
      </div>
    </div>

</form>
</div>
